// COLORS
$colorGrey: #eee;
$colorPink: rgb(180, 105, 105);
$colorBrown: rgb(99, 32, 32);
$colorDarkRed: rgb(129, 2, 2);
$colorYellow: rgb(218, 218, 36);
$colorDarkYellow: rgb(255, 174, 0);
$colorDarkGrey: rgb(136, 136, 136);